

.matchLeague {
    flex: 0 0 130px;
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    height: 44px;
    margin-left: 4px;
    margin-right: 8px;
    margin-top: 4px;
    background: rgba(92, 111, 123, 0.446);
}

.leagueTitle {
	font-size: 18px;
	font-weight: 900;
    margin: 0;
	color: rgb(255, 255, 255);
}

.ORO {
	background: rgb(228, 164, 0);
}

.PLAT {
	background: rgb(160, 175, 184);
}

.PLATINO {
	background: rgb(80, 129, 160);
}

.BRONCE {
	background: rgb(190, 111, 38);
}

.DIAMANTE {
	background: rgb(46, 202, 202);
}

.payComponent {
    flex: 0 0 130px;
    border-radius: 3px;
    padding: 8px;
    text-align: -webkit-center;
    height: 44px;
    margin-left: 4px;
    margin-right: 8px;
    margin-top: 4px;
}

.inscribed {
    background: rgba(7, 248, 23, 0.289);
}

.noInscribed {
    background: rgba(248, 23, 7, 0.289);
}