.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}

	.select {
		display:inline-block;
		padding:0.20em 0.6em;
		border:0.1em solid #9CA9B3;
		margin:0 0.3em 0.3em 0;
		border-radius:0.12em;
		box-sizing: border-box;
		text-decoration:none;
		font-family:'Roboto',sans-serif;
		font-weight:300;
		color:#FFFFFF;
		text-align:center;
		transition: all 0.2s;		
	}
	.select-press{
		color:#000000;
		background-color:#9CA9B3;
	}
	.select-uno {

	}
}

.svg-hero {
	display: inline;
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}


/// Tournaments page

.tournaments {

	.section-inner {
		padding-top: 20px;
		padding-bottom: $hero--padding-b__mobile;

	}

	.heading {
		margin-bottom: 30px;
	}

	.borrarme-section {
		display: flex;
		align-items: baseline;
		justify-content: center;
	}
}